name: .NET

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: 6.0.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore

      - name: Publish
        run: dotnet publish -c Release -o ${{env.DOTNET_ROOT}}/myapp

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v3
        with:
          name: .net-app
          path: ${{env.DOTNET_ROOT}}/myapp

  Deploy:
    needs: Build
    runs-on: ubuntu-latest

    environment:
      name: Rpi
      url: http://77.125.153.30/swagger/index.html

    steps:
      - name: Get Artifacts
        uses: actions/download-artifact@v3
        with:
          name: .net-app

      - name: SFTP Deploy
        uses: wlixcc/SFTP-Deploy-Action@v1.2.4
        with:
          username: ${{ secrets.USER }}
          server: ${{ secrets.SERVER }}
          remote_path: /var/www/NginxDemo/
          password: ${{ secrets.PASSWORD }}
    
  Reset:
    needs: Deploy
    runs-on: ubuntu-latest
    
    steps:
      - name: Reset .NET service
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER }}
          username: ${{ secrets.USER }}
          password: ${{ secrets.PASSWORD }}
          script: sudo systemctl restart NginxDemo
